@import '../fonts/manrope/stylesheet.css';

/* Colors */
$lightCyan: hsl(193, 38%, 86%);
$neonGreen: hsl(150, 100%, 66%);
$grayishBlue: hsl(218, 20%, 24%);
$darkGrayishBlue: hsl(220, 22%, 16%);

/* Font sizes */
$font-s: 0.7245rem; // 16px
$font-med: 1rem; // 16px
$font-lg: 1.75rem; // 28px
